.Name {
  display: inline;
}
.Email {
  display: inline;
}
.CompanyNumber {
  display: inline;
}
.Company {
  display: inline;
}
input {
  width: 24%;
}
@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 600px) {
  .EmailBox {
    margin: 0 15px;
  }
}

@media screen and (min-width: 300px) {
  input {
    margin: 20px 0;
    height: 50px;
    border-radius: 5px;
  }
}
