/* body {
  margin: 0;
  padding: 0;
} */
.MainTitle {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 90%;
  height: 5px;
}

.Title {
  display: inline-block;
  text-align: left;
  color: black;
  margin: 25px;
}
.WelcomeLogin {
  float: right;
}
#hamburger {
  display: none;
}
ul {
  display: none;
  position: absolute;
  list-style-type: none;
  background-color: aqua;
  padding: 0 25px;
}
a {
  text-decoration: none;
  color: black;
}
.WelcomeLogin input:checked ~ ul {
  display: block;
  margin-left: 80px;
  margin-top: -19px;
  text-align: left;
}

@media screen and (min-width: 700px) {
  /* .naaaaa {
    display: inline;
  } */
}
