.NewUser {
  padding: 3% 0;
}
.signup-form {
  display: flex;
  flex-direction: column;
}

.UserEntry {
  display: inline-block;
  margin: 10px 15%;
  font-size: 16px;
  font-weight: bold;
}
input {
  margin: 20px 0;
  height: 50px;
  border-radius: 5px;
}

.submitInfo {
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 25px;
  background-color: aqua;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .UserEntry {
    margin: 10px 25%;
    font-size: 25px;
    font-weight: bold;
  }
}

@media screen and (min-width: 600px) {
  .Name {
    display: inline-block;
    font-size: 25px;
  }
  .CompanyNumber {
    display: inline-block;
    font-size: 25px;
  }
  .Company {
    display: inline-block;
    font-size: 25px;
  }
  .UserEntry {
    margin: 10px 30%;
    font-size: 20px;
    font-weight: bold;
  }
}
