* {
  box-sizing: border-box;
}

.UserOptions {
  text-align: center;
  margin: 0;
  padding: 25px;
}
.UserLink {
  display: block;
  color: black;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 15px 15px 15px black;
  background-color: #ff9912;
  margin: 30px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Patua One", cursive;
}
.UserLink:hover {
  background-color: #ffd700;
}
button:hover {
  background-color: powderblue;
  transition: background-color 0.5s;
}

.Legal {
  font-size: 12px;
}

@media screen and (min-width: 1200px) {
  .UserOptions {
    display: flex;
    flex-direction: column;
  }

  .UserLink {
    display: flex;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border: solid 2px black;
    border-radius: 5px;
    margin: 0 20%;
    padding: 0 10px;
  }
}
@media screen and (min-width: 700px) {
  .UserOptions {
    text-align: center;
    margin: 25px;
    padding: 25px;
  }

  .UserLink {
    display: block;
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin: 30px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
  }
}
