body {
  margin: 0;
  padding: 0;
}
.MainTitle {
  /* background: black; */
  /* color: white; */
  position: absolute;
  top: 0;
  width: 90%;
  height: 5px;
}

.Title {
  display: inline-block;
  text-align: center;
  color: black;
  margin: 25px;
}
.WelcomeLogin {
  float: right;
  padding: 30px 25px;
  margin: 0 25px;
}
input {
  display: none;
}

ul {
  display: none;
  position: absolute;
  list-style-type: none;
  background-color: aqua;
  padding: 10px;
}
a {
  text-decoration: none;
  color: black;
}
.WelcomeLogin input:checked ~ ul {
  display: block;
}

@media screen and (min-width: 700px) {
  label {
    display: none;
  }

  ul {
    display: block;
    padding: 0 20px;
    list-style-type: none;
    background-color: aqua;
  }
  li {
    display: inline-block;
  }
  a {
    padding: 0 10px;
  }
}
