.NavUserContent {
  display: flex;
  margin-top: 2px;
}
.UserAppTitle {
  border: 5px solid black;
  /* flex: 2; */
  margin: 10px;
  padding: 30px;
}
.UserNavOptions {
  border: 5px solid black;
  /* flex: 1; */
  margin: 10px;
  text-align: center;
  padding: 5px 0;
}

.UserLinks {
  display: inline-block;
  padding: 0 25px;
}

.UserLinks li {
  padding: 0 5px;
}
