.DeleteContent {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.Results {
  text-align: center;
}

.titleDelete {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
  font-family: "Merriweather", serif;
}
.VendorDelete {
  text-align: center;
  font-size: 25px;
}

.VendorDeleteName {
  font-size: 16px;
  text-overflow: ellipsis;
  text-align: center;
  margin: 40px 0;
}

.DeleteItem {
  text-align: center;
  font-size: 25px;
}

.DeletePartID {
  font-size: 16px;
  text-align: center;
  text-overflow: ellipsis;
  margin: 50px 0;
}

.DeleteButton {
  border-radius: 5px;
  border: solid black 2px;
  background-color: bisque;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
}
.DeleteData {
  text-align: center;
  display: block;
}
.deleteLegal {
  position: absolute;
  bottom: 5px;
  right: 150px;
}
