.getTitleName {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: bold;
  font-family: "Merriweather", serif;
}

.addNewPart {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.vendor {
  display: inline;
  font-size: 25px;
  font-family: "Patua One", cursive;
}

.VendorName {
  display: inline;
  font-size: 16px;
  text-align: center;
}

.item {
  display: inline;
  font-size: 25px;
  font-family: "Patua One", cursive;
}

.PartId {
  display: inline;
  font-size: 16px;
  text-align: center;
}

.Report {
  margin-bottom: 15px;
  border-radius: 5px;
  border: thin black;
  width: 200px;
  height: 50px;
  background-color: #ff9912;
  cursor: pointer;
  font-size: 25px;
  font-family: "Patua One", cursive;
}

.Report:hover {
  background-color: #ffd700;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 25px;
  padding: 25px;
}
.resultsTitle {
  text-align: center;
}
.Results {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .addNewPart {
    margin: 25px 0;
  }
  .Report {
    margin: 25px 0;
  }
  footer {
    font-size: 12px;
    text-align: center;
  }
}
