.postTitleName {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
  font-family: "Merriweather", serif;
}
.vendorTitle {
  font-size: 16px;
  font-family: "Patua One", cursive;
}
.addNewPart {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  text-align: center;
}
.itemID {
  font-family: "Patua One", cursive;
  font-size: 16px;
}
.descriptionTitle {
  font-family: "Patua One", cursive;
  font-size: 16px;
}
.PostDes {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  text-align: center;
  font-size: 16px;
}

.PriceTitle {
  font-family: "Patua One", cursive;
  font-size: 16px;
}

.PostPrice {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  text-align: center;
  font-size: 16px;
}

.itemAvail {
  font-family: "Patua One", cursive;
  font-size: 16px;
}
.PostName {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  text-overflow: ellipsis;
}
.PostID {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  text-overflow: ellipsis;
}
.PostDes {
  width: 175px;
  font-weight: bold;
}
.PostPrice {
  width: 175px;
  font-weight: bold;
}
.PostQtyUnavail {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  width: 175px;
}

.PostQtyAvail {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  width: 175px;
}

.PostButton {
  display: inline-block;
  border-radius: 5px;
  background-color: bisque;
  width: 150px;
  height: 50px;
  font-size: 25px;
}
.content-info {
  text-align: center;
}
@media screen and (min-width: 700px) {
  .PostName {
    width: 250px;
  }
  .PostID {
    width: 250px;
  }
  .PostDes {
    width: 250px;
  }
  .PostPrice {
    width: 250px;
  }
  .PostQtyUnavail {
    width: 250px;
  }
  .PostQtyAvail {
    width: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .PostName {
    width: 325px;
  }
  .PostID {
    width: 325px;
  }

  .PostDes {
    width: 325px;
  }
  .PostPrice {
    width: 325px;
  }
  .PostQtyUnavail {
    width: 325px;
  }
  .PostQtyAvail {
    width: 325px;
  }
}
