.vendorName {
  margin: 20px 0;

  border-radius: 5px;
  display: inline;
  font-size: 25px;
  text-align: center;
}

.ItemQty {
  margin: 20px 0;

  border-radius: 5px;
  display: inline;
  font-size: 25px;
  text-align: center;
}
